.App{
    height: 100vh;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: rgb(249, 249, 141);
}

.custom-scroll::-webkit-scrollbar{
    width: 8px;
}

.custom-scroll::-webkit-scrollbar{
    background-color: transparent;
}
.custom-scroll::-webkit-scrollbar{
    border-radius: 20px;
    background-color: lightgray;
    transition: 300ms;
}

.custom-scroll::-webkit-scrollbar:hover{
    background-color: gray;

}
.logo img{
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    /* position:absolute;
    left: 10% */
    
}

